/* body{
    background-color: grey;
}
h1{
    font-size: 50px;
}
img{
    width:1000px;
    height:800px;
}

@media screen and (max-width: 960px) {
    body{
        background-color: red;
    }
    h1{
        font-size:40px;
    }
    img{
        width:500px;
        height:300px;
    }
    
}
@media screen and (max-width: 768px) {
    body{
        background-color: orange;
    }
    h1{
        font-size:30px;
    }
    img{
        width:250px;
        height:150px;
    }
}
@media screen and (max-width: 550px) {
    body{
        background-color: yellow;
    }
    h1{
        font-size:20px;
    }
    img{
        width:200px;
        height:100px;
    }
}
@media screen and (max-width: 320px) {
    body{
        background-color: green;
    }
    h1{
        font-size:10px;
    }
    img{
        width:100px;
        height:50px;
    }
} */


body{
    text-align: center;
    
}
.vtc{
    font-size: 40px;
    font-weight: bold;
}
.vtcacademy{
    color:red;
}
@media  screen and (max-width:800px) {
    body{
        text-align: left;
        background-color: green;
    }
    .vtc{
        font-size: 30px;
        font-weight: bold;
        color:white;
    }
    .vtcacademy{
        color:white;
    }
}
@media screen and (max-width:500px) {
    body{
        text-align: right;
    }
}
